{
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "all",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ".*rc",
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
