/* The right side of the data layer is the side panel. */
.layer-data .side-panel {
    color: #fff;
    width: 20rem;
    padding: 1rem;
    position: relative;
    background-color: #222;
}
/* Collapsable support. */
.side-panel .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.side-panel.collapsed {
    width: 0;
    padding: 0;
}
.side-panel.collapsed .content {
    display: none;
}
.side-panel .collapsable {
    top: calc(50% - 1rem);
    left: -1.2rem;
    width: 1.2rem;
    height: 2rem;
    padding-left: 0.1rem;
    z-index: 255;
    cursor: pointer;
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    position: absolute;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #222;
}
.side-panel.collapsed .collapsable span {
    font-size: 0;
}
.side-panel.collapsed .collapsable span::after {
    content: '«';
    font-size: 1.6rem;
}
/* Header style. */
.side-panel .panel-header {
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #ccc;
}
/* Evaluator style. */
.side-panel .evaluator {
    flex-grow: 1;
}
.side-panel .evaluator rect.selected {
    stroke: #fff;
    stroke-width: 3;
    user-select: none;
}