/** General layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    color: #2881e0;
    text-decoration: none;
}
html {
    overflow: hidden;
}
/* Layers occupies the entire viewport and displays in layers. */
.layer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
/* The data layer uses flex to create a left-right layout. */
.layer-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
/* The left side of the data layer is the main visualization. */
.layer-data .visualization {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.layer-data .visualization svg {
    width: 100%;
    height: 100%;
}
/** Visualization Styles */
.visualization .labels {
    pointer-events: none;
    user-select: none;
}
.visualization circle {
    cursor: pointer;
}
circle:not(.chosen, .hovering) {
    fill-opacity: 0.8;
}
.with-chosen text,
.with-chosen circle {
    fill-opacity: 0.4;
}
circle.hovering,
circle.chosen {
    stroke: #fff;
    stroke-width: 0.2;
    fill-opacity: 1;
}
circle.chosen-neighbor {
    fill-opacity: 1;
}
text.chosen,
text.chosen-neighbor,
text.hovering {
    stroke: #666;
    stroke-width: 0.05;
    fill-opacity: 1;
    font-weight: bold;
}
text.chosen {
    fill: #fff;
}
.with-chosen line {
    stroke-opacity: 0.1;
}
line.chosen,
line.chosen-neighbor,
line.hovering {
    stroke-width: 0.4;
    stroke-opacity: 1;
}